@font-face {
	font-family: 'LCALLIG';
	src: url('LCALLIG.eot');
	src: local('LCALLIG'), url('./LCALLIG.woff') format('woff'), url('./LCALLIG.ttf') format('truetype');
}
BODY 
{
  background-color:white;
  font-family: "Times New Roman";
  font-size:18px;
}
.schoollogo
{
  position: fixed;
  top : 0px;
  font-size: 12px;
	width: 100px;
}
.maintitle
{
  font-weight: bold;
  font-size: 48px;
  text-align: center;
	margin-top: -10px;
	margin-left: 30px;
	color: blue;
	font-family: "Times New Roman";
}
.secondtitle
{
  font-size: 22px;
  text-align: center;
	margin-top: -50px;
	margin-left: 30px;
	font-family: "Times New Roman";
  font-weight: bold;
}
.maintext
{
  font-size: 18px;
  margin-top: 30px;
}
P
{
  font-size: 18px;
  margin-top: -12px;
}
.toplabels
{
	display: inline-block;
	width: 15%;
}
.studname
{
	font-family : LCALLIG;
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
	padding-left: 40px;
}
.profname
{
	font-size: 20px;
	display: inline-block;
}
TABLE   
{ 
  border-collapse: collapse;
  border: 1px solid black;
  width: 99%;
}
TD
{
  padding-left: 3px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 3px;
}
.boldfatbot
{
	text-align: center;
	font-weight: bold;
  border-bottom: 1px solid black;
}
.centerbolddashbot
{
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.centerfatbot
{
  text-align: center;
  border-bottom: 1px solid black;
}
.centerfatbotdashr
{
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.fatbot
{
  border-bottom: 1px solid black;
}
.bold
{
  font-weight: bold;
}
.center
{
  text-align: center;
}
.centerdashr
{
  text-align: center;
  border-right: 1px solid black;
}
.vcmark
{
  color: #EEE;
}
.uitslag
{
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}
.leftsign
{
  float: left;
  margin-top: 40px;
}
.rightsign
{
  float: right;
  margin-top: 40px;
}
.graybg
{
  background-color: #DDD;
}
@media print
{
 .footnote
 {
  clear: both;
  position: fixed;
  bottom : 0;
  font-size: 12px;
	margin-left: 10px;
 }
 .pagebreak { font-size: 1px; page-break-after: always}
}
@media screen
{
 .footnote
 {
  clear: both;
  font-size: 12px;
 }
  .pagebreak
  {
    margin-bottom: 900px;
    width: 100%;
  }
}
