@font-face {
	font-family: 'LCALLIG';
	src: url('LCALLIG.eot');
	src: local('LCALLIG'), url('./LCALLIG.woff') format('woff'), url('./LCALLIG.ttf') format('truetype');
}
BODY {background-color:white; font-family: 'LCALLIG'; font-size:20px; font-weight: bold; margin-top: -20px;}
.studentname
{
  position: relative;
  left: 133px;
  top: 399px;
}
.birthdate
{
  position: relative;
  left: 105px;
  top: 389px;
  text-align: left;
  width: 40%;
}
.birthplace
{
  position: relative;
  left: 371px;
  top: 340px;
}
.profile
{
  position: relative;
  left: 182px;
  top: 327px;
}
.schoolname
{
  position: relative;
  left: 250px;
  top: 312px;
}
.schoolplace
{
  position: relative;
  left: 77px;
  top: 279px;
}
.schoolyear
{
  position: relative;
  left: 130px;
  top: 316px;
}
.diplomadate
{
  position: relative;
  left: 510px;
  top: 406px;
}
.diplomayear
{
  position: relative;
  left: 604px;
  top: 410px;
}
.subjectline1
{
  position: relative;
  left: 120px;
  top: 215px;
}
.subjectline2
{
  position: relative;
  left: 120px;
  top: 208px;
}
.subjectline3
{
  position: relative;
  left: 120px;
  top: 200px;
}
.subjectline4
{
  position: relative;
  left: 120px;
  top: 191px;
}
.subjectline5
{
  position: relative;
  left: 120px;
  top: 182px;
}
.subjectline6
{
  position: relative;
  left: 120px;
  top: 249px;
}
.subjectline7
{
  position: relative;
  left: 120px;
  top: 242px;
}
.subjectline8
{
  position: relative;
  left: 120px;
  top: 234px;
}
.subjectline9
{
  position: relative;
  left: 120px;
  top: 300px;
}
.subjectline10
{
  position: relative;
  left: 125px;
  top: 292px;
}
.subjectline11
{
  position: relative;
  left: 125px;
  top: 356px;
}
.subjectline12
{
  position: relative;
  left: 125px;
  top: 348px;
}

@media print
{
 .footnote
 {
  clear: both;
  position: fixed;
  bottom : 0;
  font-size: 12px;
 }
 .pagebreak {page-break-after: always}
}
@media screen
{
 .footnote
 {
  clear: both;
  font-size: 12px;
 }
  .pagebreak
  {
    margin-bottom: 900px;
    width: 100%;
  }
}
